<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <!--现场本地数据库连接-->
      <add name="ColorimeterDB" connectionString="server=.;database=ColorimeterDB;uid=sa;pwd=123456"/>

      <!--现场远程数据库连接-->
      <add name="LEVEL3" connectionString="server=10.0.0.12;database=LEVEL3;uid=sa;pwd=bule71"/>
    
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
