<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ColorimeterService.Properties.Settings.ColorimeterDBConnectionString" connectionString="Data Source=.;Initial Catalog=ColorimeterDB;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
        <add name="ColorimeterService.Properties.Settings.ColorimeterDBConnectionString1" connectionString="Data Source=.;Initial Catalog=ColorimeterDB;User ID=sa" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
